<container class="uk-container">
    <h1 class="uk-position-top-left">AZNAM News</h1>
    <h2  class="uk-position-top-left"><a id="getarticles" class="uk-link-heading" href="#">get articles.</a><a id="scrape" class="uk-link-heading" href="#">scrape.</a></h2>

    <section class="uk-section">
        <div class="uk-container">
            <ul class="uk-list uk-list-large uk-list-divider">
                {{#each articleData}}
                <li><a href="{{link}}">{{title}}</a>
                    <button id="{{_id}}" class="comment-btn uk-button-small uk-button-default">Comment</button>
                    <a data-id="{{_id}}" class="comment-link" href="/api/articles/{{_id}}">View Latest Comments</a>
                    <ul class="uk-list uk-list-small comment-list" data-commentid="{{_id}}">
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>

</container>

<div id="comment-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <form action="/submit" method="post" class="comment-form">
            <div class="uk-margin">
                <input id="comment-name" class="uk-input uk-form-width-medium uk-form-large" type="text" placeholder="Name">
            </div>
            <div class="uk-margin">
                <textarea id="comment-body" class="uk-textarea" rows="3" placeholder="Leave a comment here!"></textarea>
            </div>
            <input type="submit" id="comment-confirm" class="uk-button uk-button-secondary">
            {{!-- OK</button> --}}
        </form>

    </div>
</div>